#container {
    max-width: 760px;
    margin: auto;
    background-color: white;
    padding: 40px;
    border: 0px solid black;
    box-shadow: 0px 0px 10px black;

    }
body {
    font-family: sans-serif;
    line-height: 1.5em;
    background-color: lightblue;
    background-image: url("http://images5.fanpop.com/image/photos/24800000/Landscape-Naboo-star-wars-24868166-2400-1350.jpg");
    background-attachment: fixed;
    }
img {
    max-width: 100%;
    height: auto;
    }  
    
img.ninjago  {
    max-width: 50%;
    }
ul.side {
    width: 100%;
}
ul.side li {
    display: inline-block;
        line-height: 80%;

} 

ul.side li:before {
    content:' .';
    font-size: 50px;
}